/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#auth-buttons {
    display: flex;
    align-items: center;
}

#auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* #news-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

} */

.crear-noticia {
    display: none;
}

.crear-noticia h2 {
    margin-bottom: 10px;
}

.crear-noticia input,
.crear-noticia textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.crear-noticia button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



#lado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noticia {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.noticia-imagen {
    object-fit: cover;
    max-width: 100%;
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Responsive Styles */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}